body {
    margin:0%;
    padding:0%;
  }
.header{
    width: 100%;
    height: 70vh;
background-image:
    linear-gradient(70deg, transparent, rgba(14, 7, 12, 0.9)),
    url('images/header-background.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.social-media{
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2vh;
    align-items: start;
}
.social-media li{
    margin-right: 0.5em;
}
.social-media li:hover{
    background: whitesmoke;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white
}
.header-content h1{
    font-size:5em ;
}
.header-content h6{
    font-size:2em ;
}
.header-img-container{
    background-color: rgb(143, 132, 136,.5);
    width:20em ;
    height: 20em;
    border-radius: 100%;
    padding: 0%;
    border: 0.4em black solid;
    
}
.header-img{
    width:19.2em ;
    height:19.2em;
    border-radius: 100%;
}
.PerInfo-Container{
    display: flex;
    
}
.PerInfo{
    width: 25vw;
    height: 21vw;
    background: whitesmoke;
    padding-top: 4vh;
    margin: 0 auto;
    border-radius: 5%;
}
.PerInfo:hover{
    background: white;
    transform: scale(1.1);
    border: 0.5em whitesmoke solid;
}
.PerInfo li {
    list-style-type: none;
}